 body {
  color: #222;
  font-weight: 200;
 }

  .osr {
    background-image:url(/bg.png);height:100%;position:relative
  }
  
  a, a.visited {
    color: #FF9900;
    text-decoration: none;
  }


  a:hover {
    color: #FF9900;
    text-decoration: underline;
  }