 body {
  color: #222;
  font-weight: 200;
 }

  .osr {
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .main {
    background-image: url('bg_main.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  a, a.visited {
    color: #FF9900;
    text-decoration: none;
  }


  a:hover {
    color: #FF9900;
    text-decoration: underline;
  }